.ProfileContent {

  grid-row: 4 / 9;
  grid-column: 3 / 9;

  margin-top: 2rem;
  margin-right: 2rem;
  height: 100%;
  background-color: #CAC3FC;
  border-radius: 3px;
  border: 1px solid #CAC3FC;
  box-shadow: 6px 6px 8px #A196F6;
  padding: 10px;
}