.BadgeItemContainer {
  display: flex;
  height: 70px;
  width: 100%;
  background-color: #A196F6;
  border-radius: 5px;
  transition: all .15s ease-in;
}

.BadgeItemContainer:hover {
  background-color: #988CF4;
}

.BadgeItemImage {
  width: 64px;
  height: 64px;
  align-self: center;
  margin-left: 2px;
}

.BadgeItemImage>img {
  border-radius: 5px;
  height: 100%;
  object-fit: cover;
}

.BadgeItemInfo {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin-left: 2px;
  overflow: hidden;
}

.BadgeItemTitle {
  font-weight: 700;
  display: block;
}

.BadgeItemSubtitle {
  font-size: 0.8rem;
}

.BadgeItemXp {

}

.BadgeItemUnlocked {

}