.ProfileFriendsItem {
  display: flex;
  height: 7rem;
  background-color: #B5ACF9;
  margin-bottom: 4px;
  border-radius: 4px;
  margin-right: 5px; 
  transition: all .15s ease-in;
}

.ProfileFriendsItem:hover {
  background-color: #A196F6;
}

.ProfileFriendsItemImage {
  width: 58px;
  height: 58px;
  align-self: center;
  margin-left: 8px;
}

.ProfileFriendsItemImage > img {
  border-radius: 5px;
  border: 2px solid #7E6FEE;
  height: 100%;
  object-fit: cover;
}

.ProfileFriendsItemInfo {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-left: 5px;
  overflow: hidden;
}

.Name {
  font-size: 1.8rem;
  white-space: nowrap;
}

@-moz-document url-prefix() {
  .ProfileFriendsItem {
    margin-right: 0;
  }
}